In [11]:
import pandas as pd

In [21]:
column_names = ["Conditions", "Option 1", "Option 2"]

dictionary = {"Conditions":["Condition 1", "Condition 2", "Condition 3", "Condition 4" ], "Option 1":[5,12,9,25], "Option 2":[12,2,14,3]}

data = pd.DataFrame(dictionary)

In [27]:
data

    Conditions  Option 1  Option 2
0  Condition 1         5        12
1  Condition 2        12         2
2  Condition 3         9        14
3  Condition 4        25         3

In [24]:
data.to_csv('data.csv', header=True, index=True)

In [57]:
from scipy.stats import binom_test,chi2,chi2_contingency

In [71]:
data = data.set_index("Conditions")

In [72]:
data.values

array([[ 5, 12],
       [12,  2],
       [ 9, 14],
       [25,  3]])

In [73]:
one_and_two = data.copy()

In [75]:
one_and_two.drop(one_and_two.tail(2).index,
        inplace = True)

In [76]:
one_and_two

             Option 1  Option 2
Conditions
Condition 1         5        12
Condition 2        12         2

In [84]:
three_and_four = data.copy()
three_and_four.drop(three_and_four.head(2).index,
        inplace = True)

In [85]:
three_and_four

             Option 1  Option 2
Conditions
Condition 3         9        14
Condition 4        25         3

In [96]:
def chi_square2(Observed_Values):
    stat, p, dof, expected = chi2_contingency(Observed_Values)
    alpha = 0.05
    print("p value is " + str(p))
    print(stat)
    if p <= alpha:
        print('Dependent (reject H0)')
    else:
        print('Independent (H0 holds true)')

In [97]:
chi_square2(one_and_two)

p value is 0.005568134761810135
7.685010769013487
Dependent (reject H0)

In [98]:
chi_square2(three_and_four)

p value is 0.0004971409693062779
12.126358695652174
Dependent (reject H0)

In [107]:
one_and_three = data.iloc[::2]

In [109]:
one_and_three

             Option 1  Option 2
Conditions
Condition 1         5        12
Condition 3         9        14

In [110]:
chi_square2(one_and_three)

p value is 0.7628340936842929
0.09105983530535944
Independent (H0 holds true)

The above result is different

In [113]:
two_and_four = data.iloc[1::2]

In [114]:
two_and_four

             Option 1  Option 2
Conditions
Condition 2        12         2
Condition 4        25         3

In [115]:
chi_square2(two_and_four)

p value is 0.8662223273845872
0.028378378378378376
Independent (H0 holds true)

In [118]:
column_names2 = ["Type", "Non-Ethical", "Ethical"]

dictionary2 = {"Type":["Private", "Public" ], "Non-Ethical":[7,12], "Ethical":[24,39]}

data2 = pd.DataFrame(dictionary2)

In [119]:
data2= data2.set_index("Type")

In [120]:
data2

         Non-Ethical  Ethical
Type
Private            7       24
Public            12       39

In [121]:
chi_square2(data2)

p value is 0.8641088084165017
0.02929102220024024
Independent (H0 holds true)

In [134]:
def bino_test(success, failure):
    p = binom_test([success,failure])
    if p>0.05:
        print("Significant differences not found")
    elif p<0.01:
        print("Significant differences found")
        
    return p

In [135]:
# condition 1

bino_test(5,12)

Significant differences not found

0.14346313476562497

In [136]:
# condition 2

bino_test(12,2)

0.012939453124999998

A slight deviation. From the paper p value has to be less than 0.01

In [137]:
# condition 3

bino_test(9,14)

Significant differences not found

0.4048728942871095

This is different. From paper, p value has to be less than 0.01

In [138]:
# condition 4

bino_test(25,3)

Significant differences found

2.7440488338470462e-05